body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

header {
  background: #333;
  padding: 10px;
  font-family: "Arial";
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 20px;
}

nav a {
  color: #fff;
}

.nav-example {
  list-style: none;
  padding-left: 20px;
}

/*Formatting (comment example)*/

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.small-text {
  font-size: 8px;
}

code {
  font-family: "Monaco";
  font-style: normal;
  background-color: black;
  color: white;
}

section {
  padding: 20px;
}

aside {
  padding: 20px;
}

article {
  padding: 20px;
}

.content-wrap {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  max-width: 700px;
  margin: auto;
}

.bird {
  font-size: 25px;
}

footer {
  background: #333;
  padding: 20px;
  color: #fff;
}

/*Flexbox CSS*/

.container {
  display: flex;
  background-color: blue;
  color: orange;
  padding: 20px;
  width: 100%;
  flex-direction: grow;
}

.item {
  background-color: green;
  padding: 20px;
  font-size: 50px;
  order: 5;
  flex-grow: 0;
  text-align: center;
}

.item-big {
  flex-grow: 4;
  background-color: yellow;
}
