body {
  background: #fff;
  /*padding: 20px;  (comment example)*/
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

header {
  background: #333;
  padding: 10px;
  font-family: "Arial";
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 20px;
}

nav a {
  color: #fff;
}

section {
  padding: 20px;
}

aside {
  padding: 20px;
}

article {
  padding: 20px;
}

.content-wrap {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  max-width: 700px;
  margin: auto;
}

.bird {
  font-size: 25px;
}

footer {
  background: #333;
  padding: 20px;
  color: #fff;
}
