body {
  background: gray;
  padding: 20px;
  font-family: "Arial";
}

header {
  background: yellow;
  padding: 20px;
  font-family: "Times New Roman";
}

nav {
  background: pink;
  padding: 20px;
}

section {
  background: blue;
  padding: 20px;
}

aside {
  background: orange;
  padding: 20px;
}

article {
  background: green;
  padding: 20px;
}

footer {
  background: red;
  padding: 20px;
}
