h1, h2 {
  font-weight: 700;
}

.typography-intro {
  text-align: center;
  font-size: 30px;
  font-family: 'Antonio', sans-serif;
}

.typography-overview {
  background-color: #3d99de;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.typography-quotes {
  background-color: #3d99de;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.typography-dashes {
  background-color: #3d99de;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
