/* Form Project CSS */
* :focus { outline: none !important; }

.form-heading {
  text-align: center;
}

.form-container {
  border: 1px solid #eee;
  border-radius: 4px;
  background: #f8f8f8;
  padding: 20px;
}

label {
  display: block;
}

.form-label {
  font-weight: bold;
}

.text-input-example,
.text-area-example {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

.text-input-example:focus,
.text-area-example:focus {
  border: 1px solid blue;
}

.checkbox-example,
.radio-button-example {
  margin-right: 6px;
  margin-bottom: 10px;
}

.select-menu-example {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.button-example {
  padding: 5px;
  border: 1px solid #606060;
  background-color: blue;
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}
