body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

header {
  background: #333;
  padding: 10px;
  font-family: "Arial";
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 20px;
}

nav a {
  color: #fff;
}

.nav-example {
  list-style: none;
  padding-left: 20px;
}

/*Formatting (comment example)*/

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.small-text {
  font-size: 8px;
}

code {
  font-family: "Monaco";
  font-style: normal;
  background-color: black;
  color: white;
}

section {
  padding: 20px;
}

aside {
  padding: 20px;
}

article {
  padding: 20px;
}

.content-wrap {
  max-width: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.bird {
  font-size: 25px;
}

footer {
  background: #333;
  padding: 20px;
  color: #fff;
}

/*Flexbox CSS class*/

.flexbox-example {
  display: flex;
  font-size: 40px;
  color: blue;
  background: pink;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.item {
  background: orange;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 0;
}

.item-big {
  background: yellow;
  font-size: 60px;
  color: black;
  flex-grow: 2;
}
